<!doctype html>
<html lang="en">
  <head>
  	<title>Sign In</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	
	<link rel="stylesheet" href="css/style.css">

	</head>
	<body class="img js-fullheight" style="background-image: url(images/movie.jpg);">
	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-6 text-center mb-5">
					<h2 class="heading-section">Movie Magic</h2>
				</div>
			</div>
			<div class="row justify-content-center">
				<div class="col-md-6 col-lg-4">
					<div class="login-wrap p-0">
		      	<h3 class="mb-4 text-center">Have an account?</h3>
		      		<div class="form-group">
		      			<input type="text" class="form-control" name="email" placeholder="email" required>
		      		</div>
	            <div class="form-group">
	              <input id="password-field" type="password" class="form-control" name="password" placeholder="Password" required>
	              <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
	            </div>
	            <div class="form-group">
	            	<button type="submit" class="form-control btn btn-primary submit px-3" onclick="login()" >Sign In</button>
	            </div>
	          <p class="w-100 text-center">&mdash; Create an account? &mdash; <a href="/usersignup"> Sign Up</a> &mdash;</p>
				</div>
			</div>
		</div>
	</section>

	<script src="js/jquery.min.js"></script>
 <script src="js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
 <script>
      function login() {
        var email = document.getElementsByName("email")[0].value;
  var password = document.getElementsByName("password")[0].value;


fetch("/userlogin", {
  method: "POST",
  headers: {
    "Content-Type": "application/json",
  
  },
  body :  JSON.stringify({
      "email" : email,
      "password" : password
  })
})
.then((response) => response.json())
.then((data) => {

    console.log(data)

    console.log(data.details[0].user_id)
      
      localStorage.setItem( "token", data.details[0].user_id )


   window.location.href = '/index'

})
.catch((error) => {
  console.error(error);
});
}
 </script>
	</body>
</html>