<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>user Sign UP</title>
</head>
<body>
    <form action="/usersignup"  method="post">
        <input type="number" name="userid" placeholder="User ID">
        <input type="text" name="username" placeholder="Enter Name">
        <input type="text" name="email" placeholder="Enter Email">
        <input type="text" name="password" placeholder="Enter password">
        <input type="text" name="city" placeholder="Enter city">
        <input type="text" name="pincide" placeholder="Enter pincode">
          <input type="number" name="contactno" placeholder="Enter contact no">
          <button type="submit" >signup</button> 
    </form>
</body>
</html>